{% extends "software/header.html" %}
 {% block content %}
  
   {% if form.errors %}
     <p class="error">Sorry ! That is not valid username or password </p>
   {% endif %}
   
   <form action="/accounts/profile/" method="post"> {% csrf_token %}
     <label for="username"> User Name : </label>
	 <input type="text" name ="username" value="" id ="username" required>
	 <label for="password"> Password : </label>
	 <input type="password" name="password" value="" id="password" required>
	 
	 <input type="submit" value="login"/>
	 
	</form>
	
	
{% endblock %}
